:root {
  --main-bg: #4a5443;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: var(--main-bg);
  font-family: 'Roboto Mono', monospace;
}

#container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 375px;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (max-width: 968px) {
  #container {
    width: 972px;
  }
}
