@import url(../../global.css);

.layout-screen {
  padding: 10px;
  grid-area: 1 / 1 / 2 / 3;
}

.layout-screen__title {
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}

.layout-screen__image {
  margin: 10px;
  /* background-color: #f3f3f385; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 10px;
}

.layout-screen__image-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 30px;
}

circle,
square,
bung,
rectangle {
  display: block;
  width: 80px;
  height: 80px;
  border-bottom: 4px solid #00000066;
  filter: drop-shadow(0px 5px 10px #00000066);
  display: flex;
  align-items: center;
  justify-content: center;
}

circle {
  background-color: var(--circle-image-bg);
  border-radius: 100%;
}

square {
  background-color: var(--square-image-bg);
  border-radius: 10px;
}

bung {
  width: 60px;
  height: 60px;
  background-color: var(--bung-image-bg);
  border-radius: 15px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

rectangle {
  width: 40px;
  height: 60px;
  background-color: var(--rectangle-image-bg);
  border-radius: 10px;
}

rectangle.small {
  width: 20px;
}

.small {
  width: 40px;
  height: 40px;
}

bung.small {
  width: 30px;
  height: 30px;
}

.image-hover {
  box-shadow: 0 0 0 5px #ffffffc8;
}

.scale {
  animation: scale 2.5s infinite;
}

@keyframes scale {
  0% {
    transform: translateY(0) scaleX(1);
  }
  25% {
    transform: translateY(10px) scaleX(0.8);
  }
  50% {
    transform: translateY(0) scaleX(1);
  }
  75% {
    transform: translateY(-10px) scaleX(0.8);
  }
  100% {
    transform: translateY(0) scaleX(1);
  }
}

.fade {
  animation: fade 1.5s forwards;
}

@keyframes fade {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}

@media (max-width: 938px) {
  circle,
  square,
  bung,
  rectangle {
    width: 60px;
    height: 60px;
  }

  bung {
    width: 50px;
    height: 50px;
  }

  rectangle {
    width: 25px;
    height: 50px;
  }

  .small {
    width: 30px;
    height: 30px;
  }
}
