.layout-screen {
  padding: 10px;
  grid-area: 1 / 1 / 2 / 3;
}

.layout-screen__title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.layout-screen__image {
  margin: 10px;
  background-color: #f3f3f385;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  border-radius: 10px;
}
