.layout-screen {
  padding: 10px;
  grid-area: 1 / 1 / 2 / 3;
}

.layout-screen__title {
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}

.layout-screen__image {
  margin: 10px;
  /* background-color: #f3f3f385; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 10px;
}

.layout-screen__image-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 30px;
}

circle,
square,
rhomb,
rectangle {
  display: block;
  width: 80px;
  height: 80px;
  border-bottom: 4px solid #00000066;
  filter: drop-shadow(0px 5px 10px #00000053);
  display: flex;
  align-items: center;
  justify-content: center;
}

circle:hover,
square:hover,
rhomb:hover,
rectangle:hover {
  box-shadow: 0 0 0 5px #ffffffc8;
}

circle {
  background-color: #5f94c9;
  border-radius: 100%;
  position: relative;
}

square {
  background-color: #d0ce5b;
  border-radius: 10px;
}

rhomb {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  background-color: #c95f5f;
  border-radius: 10px;
  border-right: 4px solid #00000066;
  box-shadow: 5px 5px 15px #00000053;
}

rectangle {
  width: 40px;
  height: 60px;
  background-color: #5fc968;
  border-radius: 10px;
}

rectangle.small {
  width: 20px;
}

.small {
  width: 40px;
  height: 40px;
}

.scale {
  animation: scale 3s infinite;
}

@keyframes scale {
  0% {
    transform: scaleX(1) skew(0) rotate(45deg);
  }
  25% {
    transform: scaleX(0.8) skew(-5deg) rotate(0);
  }
  50% {
    transform: scaleX(1) skew(0) rotate(-45deg);
  }
  75% {
    transform: scaleX(0.8) skew(5deg) rotate(0);
  }
  100% {
    transform: scaleX(1) skew(0) rotate(45deg);
  }
}
