:root {
  --input-btn: #cfeebd;
  --main-bg: #4a5443;
}

.input {
  position: relative;
  background-color: #f2f2f2;
  grid-area: 2 / 1 / 4 / 2;
  color: #ccc;
  border: 1px solid #8ea382;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: none;
  margin: 20px 0 20px 20px;
}

.input__header {
  padding: 10px;
  background-color: #3a4235;
  border-bottom: 1px solid #8ea382;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-right: none;
  font-weight: 300;
}

.input__wrapper {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 20px;
}

.input__field {
  height: 30px;
  padding: 0 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-family: 'Roboto Mono', monospace;
  outline: none;
}

.input__btn {
  background: #dcdcdc;
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  color: #666;
  border: solid 1px #999;
  border-bottom: solid 3px #999;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.input__help-text {
  padding: 10px;
  font-size: 1em;
}

.input__help-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-width: 50px;
  margin: 0 auto;
  background: #dcdcdc;
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  color: #666;
  border: solid 1px #999;
  border-bottom: solid 3px #999;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.flicker {
  animation: flicker 0.5s infinite;
}

@keyframes flicker {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: var(--input-btn);
  }
  100% {
    background-color: #f2f2f2;
  }
}

.press-down {
  animation: press-down 0.1s forwards;
}

@keyframes press-down {
  from {
    border-bottom: solid 3px #999;
  }
  to {
    border-bottom: solid 1px #999;
  }
}

.jiggle {
  animation: jiggle 0.1s 3 forwards;
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(6px);
  }
}

.appear {
  animation: appear 1s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
