@import url(../../global.css);

.levels {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  grid-area: 1 / 3 / 4 / 4;
}

.levels__header,
.levels__left-side,
.levels__right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.levels__header {
  padding: 10px 0;
}

.levels__header-text {
  font-size: 1.5em;
}

.levels__left-side,
.levels__right-side {
  column-gap: 20px;
}

.levels__header-checkmark {
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cccccc;
}

.completed {
  background-color: #6ad929;
  box-shadow: 0 0 5px #6ad929;
}

.levels__header-nav-prev,
.levels__header-nav-next {
  width: 26px;
  height: 26px;
  background: url(../../img/right-long-solid.svg) center center;
  cursor: pointer;
  transition: 0.2s all;
}

.levels__header-nav-prev {
  transform: rotate(-180deg) translateX(0);
}

.levels__header-nav-prev:active {
  transform: rotate(-180deg) translateX(5px);
}

.levels__header-nav-next:active {
  transform: translateX(5px);
}

.levels__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px 0;
  background-color: #3a4235;
  border: 1px solid #8ea382;
  border-radius: 10px;
  max-height: 80vh;
  overflow: auto;
}

.levels__list-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s all;
  cursor: pointer;
}

.levels__reset-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: #dcdcdc;
  display: block;
  width: 180px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #666;
  border: solid 1px #999;
  border-bottom: solid 3px #999;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.current {
  background-color: #f3f3f314;
}
